GOOGLE_CREDENTIALS=service_account.json in 1 line string
REDIS_HOST=localhost
REDIS_PORT=6379

IMAGEKIT_PRIVATE_KEY=privkey from imagekit
IMAGEKIT_PUBLIC_KEY=pubkey from imagekit
IMAGEKIT_URL_ENDPOINT=url from imagekit

MODEL_PATH=models/env2.h5
MODEL_FILE_ID=id from gdrive

CORS_ORIGINS=http://localhost:3000,http://localhost:5173

